<%=  link_to 'Go to Company', member_company_path(@company) %>
<p>Name: <%= @app.name %> </p>
<h3>Versions</h3>

<% @app.versions.each do |v| %>
<p> Version <%= v.number %>
<p> Device <%= v.device_type %>
<%=  link_to 'Download', v.photo.url %>

<% end %>
