<%=  link_to 'Go to Company', super_admin_company_path(@company) %>
<p>Name: <%= @app.name %> </p>
<h3>Versions</h3>

<% @app.versions.each do |v| %>
<p> Version <%= v.number %>
<p> Device <%= v.device_type %>
<%=  link_to 'Download', v.photo.url %>
<p> Direct Download Link <%= @host %>/<%= v.direct_download_link %></p>	
<p> Invite by Email (enter email address separated by commas)</p>
<%= form_tag(developer_app_version_invite_by_email_path(@app,v), method: :get) do %>
<%= text_field_tag 'emails' %>
<%= submit_tag "Invite", style: "width:120px; height:35px; background-color:#c25b39; border:1px solid #c25b39; color:#FFF; font-size:17px; margin-right:180px;" %>
<% end %>

<% end %>

<br>
<br>
<br>
<%=  link_to 'Add Version', new_super_admin_app_version_path(@app) %>
