<p>Go Back To <%=  link_to 'Companies', super_admin_companies_path %></p>

<p>Name: <%= @company.name %></p>
	<p>Phone: <%= @company.phone %></p>
	<p>Address: <%= @company.address %></p>
	<p>Max Admins: <%= @company.max_admin %></p>
	<p>Active: <%= @company.is_active %></p>

	<% @company_users.each do |c_user| %>
		<p> Name: <%= c_user.user.name %></p>
		<p> Role: <%= c_user.role %></p>
	<% end %>	
	<%=  link_to 'Edit User Roles', super_admin_company_roles_path(@company) %>


	
	
	
	