<p>Go Back To <%=  link_to 'Companies', super_admin_companies_path %></p>

<p>Name: <%= @company.name %></p>
	<p>Phone: <%= @company.phone %></p>
	<p>Address: <%= @company.address %></p>
	<p>Max Admins: <%= @company.max_admin %></p>
	<p>Active: <%= @company.is_active %></p>

	<h3>Users </h3>

	<% @company_users.each do |c_user| %>
		<p> Name: <%= c_user.user.name %></p>
		<p> Role: <%= c_user.role %></p>
	<% end %>	

	<h3>Applications</h3>

	<% @company.apps.each do |app| %>
		<p> Name: <%= app.name %></p>
		<%= link_to 'View App Details', super_admin_company_app_path(@company,app) %>
	<% end %>	

	<h3> Other Options </h3>

	<%= link_to 'Edit User Roles', super_admin_company_roles_path(@company) %>
	<br>

	<%= link_to 'Edit Company', edit_super_admin_company_path(@company) %>
	<br>

	<%= link_to 'Create an App', new_super_admin_company_app_path(@company) %>
	

	
	
	
	